@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-md-6">
        <img src="~/images/Profile.jpg" class="rounded-circle img-raised mx-auto d-block" width="80%"/>
    </div>
    <div class="col-md-6">
        <p id="name" class="h1">
            Lasse T. Pedersen
            <small class="text-muted">Software Engineer</small>
        </p>
        <p>
            I am a 24 year old software engineer from Odense. I am adept at doing full stack development with agile methodologies.
            I have a passion for software development and often do so in my spare time as well.
            Professionally I strive for great User Experience and solid security.
        </p>
    </div>
</div>