@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-sm-12">
        <h3>Persoanl Interests</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Music</h4>
                <p>
                    I play the guitar and sing, and have been playing classical percussion for 15 years as well.
                </p>
            </li>
            <li class="list-group-item">
                <h4>Tabletop RPG</h4>
                <p>
                    I play and enjoy tabletop roleplaying very much. Currently I mainly play Pathfinder, but I have knowledge of Dungeons and Dragons fifth edition as well.
                </p>
            </li>
            <li class="list-group-item">
                <h4>Computers</h4>
                <p>
                    I have a great interest in software and computers and spend a large amount of my time learning and 'playing' with computers in my spare time.
                    I own a custom built computer and spend a lot of time working with new software technologies mainly to better myself.
                </p>
            </li>
        </ul>
    </div>
</div>