@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-sm-6">
        <h3>Primary skills</h3>
        <ul class="list-group">
            <li class="list-group-item">
                C# &amp; .NET
                <a target="_blank" href="https://dotnet.microsoft.com/">
                    <span class="badge float-right" data-toggle="tooltip" title="Microsoft .Net">
                        <i class="now-ui-icons arrows-1_share-66"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                SharePoint
                <a target="_blank" href="https://products.office.com/en-us/sharepoint/collaboration">
                    <span class="badge float-right" data-toggle="tooltip" title="SharePoint">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                JavaScript/TypeScript
                <a target="_blank" href="https://www.typescriptlang.org/">
                    <span class="badge float-right" data-toggle="tooltip" title="TypeScript">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                Version Control
                <a target="_blank" href="https://git-scm.com/">
                    <span class="badge float-right" data-toggle="tooltip" title="Git Version Control">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                SQL
                <a target="_blank" href="https://www.microsoft.com/en-us/sql-server/sql-server-2019">
                    <span class="badge float-right" data-toggle="tooltip" title="Microsoft SQL Server">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Secondary skills</h3>
        <ul class="list-group">
            <li class="list-group-item">
                HTML &amp; CSS
            </li>
            <li class="list-group-item">
                Java
                <a target="_blank" href="https://www.oracle.com/java/">
                    <span class="badge float-right" data-toggle="tooltip" title="Java">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                Microsoft Dynamics CRM
                <a target="_blank" href="https://dynamics.microsoft.com/en-us/">
                    <span class="badge float-right" data-toggle="tooltip" title="Microsoft Dynamics 365">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                Python
                <a target="_blank" href="https://www.python.org/">
                    <span class="badge float-right" data-toggle="tooltip" title="Python">
                        <i class="now-ui-icons arrows-1_share-66 float-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>