@model OnlineCV.Models.SafeModel
@{
    ViewData["Title"] = "Safe";
}

@if (Model.Open)
{
    <h2 style="color:green">Skab åbent</h2>
    <a class="btn" asp-area="" asp-controller="Safe" asp-action="Close">Luk skab</a>
}
@if (!Model.Open)
{
    <h2 style="color:red">Skab låst</h2>
    @if (Model.NotFound.Count != 0)
    {
        <p>
            Ikke fundet: <br />
            @foreach (var s in Model.NotFound)
            {
                @Html.Raw(s + ", ")
            }
        </p>
    }
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("OpenSafe", "Safe", FormMethod.Post))
            {
                <div id="products">
                    <input class="form-control" type="text" placeholder="Produktnummer" name="productnumbers" />
                </div>
                <input type="button" class="btn btn-default" value="Tilføj produkt" onclick="addProduct()" />
                <input type="submit" class="btn btn-success" value="Åben" />
            }
        </div>
    </div>
    
}

<script type="text/javascript">
    function addProduct() {
        var d = document.getElementById("products");
        var item = document.createElement("input");
        item.classList.add("form-control");
        item.type = "text";
        item.placeholder = "Produktnummer";
        item.name = "productnumbers";
        d.appendChild(item);
    }
</script>