@{
    ViewData["Title"] = "Contact";
}
<h2>Contact</h2>

<address>
    Lasse T. Pedersen<br />
    Pantheonsgade<br />
    5000 Odense C<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:lassep95@gmail.com">Lassep95@gmail.com</a><br />
    <strong>Phone:</strong> <a href="tel:+4527512155">+45 2751 2155</a>
</address>
<div></div>
